<h3>
  <% if user_signed_in? && current_user.voted_for?(@recording) %>
    <%= link_to unlike_recording_path(@recording), method: :put, remote: true do %>
      <i class="glyphicon glyphicon-heart" style="color:blue"></i>
    <% end %>
  <% else %>
    <%= link_to like_recording_path(@recording), method: :put, remote: true do %>
     <i class="glyphicon glyphicon-heart"></i>
    <% end %>
  <% end %>
  <%= @recording.get_likes.size %>
</h3>
