<div class="responsive-wrapper">
        <div id="jquery_jplayer_audio_1" class="jp-jplayer"></div>

        <div id="jp_container_audio_1" class="jp-flat-audio" role="application" aria-label="media player">
          <div class="jp-play-control jp-control">
            <button class="jp-play jp-button" role="button" aria-label="play" tabindex="0"></button>
          </div>
          <div class="jp-bar">
            <div class="jp-seek-bar jp-seek-bar-display"></div>
            <div class="jp-seek-bar">
              <div class="jp-play-bar"></div>
              <div class="jp-details"><span class="jp-title" aria-label="title"></span></div>
              <div class="jp-timing"><span class="jp-duration" role="timer" aria-label="duration"></span></div>
            </div>
          </div>
          <div class="jp-no-solution">
            Media Player Error<br />
            Update your browser or Flash plugin
          </div>
        </div>
      </div>
