<head>
  <%= javascript_include_tag 'maps/googleindex' %>

</head>
<div class="jumbotron">
  <h1>Where do you want to go?</h1>
   <%= content_tag :div, class: "recording", data: {recordings: @recording} do %>
  <div id="googleMap" style="width:100%;height:380px;">
    <% end %>
</div>
