body {
  padding-top: 50px;
}


.comment-list {
  margin-left: 30px;
}

.comment-item {
  border-top: 1px solid gray;
}

.info {
  margin-bottom: 30px;
  padding-bottom: 25px;
  border-bottom: 1px solid gray;
}


.tag {
  display: inline;
  background-color: #B0BEC5;
  padding: 7px;
  margin-right: 10px;
  border-radius: 4px

}

.tag:hover {
  background-color: #CFD8DC;
}

.tag a, .tag a:hover {
  color: #263238;
  text-decoration: none;
}

#new-comment-form-container {
  margin-bottom: 20px;
}

/*Jquery dropdowns*/
.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
  padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}
.ui-helper-hidden-accessible {
  display: none;
}


.field, .actions {
  margin: 1rem 0;
}

