<% if Playlistrecording.exists?(recording, playlist) %>
  <li><%= link_to playlist.name.titleize, disabled: true, class: "disabled" %></li>
<% else %>
  <li><%= link_to playlist.name.titleize, recording_playlist_playlistrecordings_path(recording, playlist), method: 'POST' %></li>
<% end %>
